@media (max-width: 992px) {
    .navbar>.container {
        display: grid !important;
        grid-template-columns: 80% 10% 10% !important;
    }

    .btn-translate {
        margin-top: 0px;
    }

    .logo-item {
        flex: 0 0 calc(100% / 4);
    }
}

@media (max-width: 480px) {
    .navbar>.container {
        display: grid !important;
        grid-template-columns: 70% 15% 15% !important;
    }

    .navbar>.container .dropdown {
       text-align: end;
    }

    .slideshow {
        position: relative;
        z-index: 1;
        height: 580px;
        width: 100%;
        /* margin: 50px auto; */
        
        /* * {
        outline: none;
        } */
        
        /* .slider {
        box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
        } */
        
        .slider-track {
        transition: all 1s ease;
        }
        
        .item {
        height: 100%;
        position: relative;
        z-index: 1;
        
        .item-banner {
            height: 580px;
            background-size: cover;
            transition: all 4s ease;
            transform: scale(1);
        }
        
        &.slick-active .item-banner {
            transform: scale(1.3);
        }
        }
    }

    /* .banner-text-area {
        padding-left: 15px;
        padding-right: 15px;
    } */

  .banner-text-area {
    padding-top: 20px;
    padding-bottom: 40px;
  }

    .banner-text-area h6 {
        font-size: 11px;
    }

    .banner-text-area h2 {
        font-size: 28px;
    }

    .banner-text-area p {
        font-size: 10.5px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .banner-1 {
        background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../img/rosneft/drill-banner.jpg) no-repeat bottom;
    }

    .banner-2 {
        background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../img/alt-banner.jpg) no-repeat center;
    }

    .banner-3 {
        background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(../img/rosneft/bit-mining-setup.jpg) no-repeat center;
    }

    .banner-ctas a {
        font-size: 13px;
        padding: 8px 10px;
    }

    .banner-ctas .reg-btn {
        font-size: 12px;
        margin: 5px;
        padding: 10px 20px;
    }

    .banner-ctas .login-btn {
        font-size: 12px;
        margin: 5px;
        padding: 10px 20px;
    }

    .slider .slider-arrow {
        /* display: none !important; */
        top: 30%;
        padding: 6px 8px;
        font-size: 16px;
    }

  .slider .slider-arrow.next {
    right: -10px;
  }
  .slider .slider-arrow.prev {
    left: -10px;
  }

  .banner-calc-area {
    padding: 15px 15px;
  }

  .banner-calc-area h5 {
    font-size: 14px;
  }

  .banner-calc-area .form-label {
    font-size: 12px;
  }

  .banner-calc-area input[type="text"],
  .banner-calc-area input[type="email"],
  .banner-calc-area input[type="password"] {
    font-size: 12px;
    padding: 5px 10px;
  }

  .banner-calc-area select {
    font-size: 12px;
    padding: 5px 10px;
  }

    .title-area {
        padding: 40px;
    }

    .about-pic-area {
        padding-left: 70px;
    }

    .img-abs {
        width: 250px;
    }

    .top-right-overlay {
        border-top: 15px solid #34C759;
        border-right: 15px solid #34C759;
    }

    .values-cover {
        margin: 0px 10px;
    }

    .testimonial-5 {
        margin-left: 0%;
        position: relative;
    }

    .testimonial-5 .testimonial-pic-block {
        left: inherit;
        position: inherit;
        text-align: center;
        top: inherit;
        padding-top: 30px;
    }

    .testimonial-5 .testimonial-pic {
        float: none;
        margin: 0 auto !important;
    }

    .testimonial-5 .testimonial-text {
        padding: 40px 20px 20px;
    }

    .logo-item {
        flex: 0 0 calc(100% / 3);
    }

    .logo-item img {
        max-height: 70px;
    }

    .logo-track { --ticker-duration: 10s; } /* adjust speed */

    .oth-banner h1 {
        font-size: 35px;
    }

    .accordion-bg {
        width: 80px;
        transform: skew(-20deg);
    }

    .cert-area {
        padding: 30px;
    }

    /* Plans Responsive Design */
    .plans-area .img-plan {
        width: 50px;
    }

    .plans-area .plan-textarea .plan-header .sub-title {
        font-size: 12px;
    }

    .plans-area .plan-textarea .plan-header .title {
        font-size: 42px;
    }

    .plans-area .plan-textarea .plan-body .plan-info {
        font-size: 12px;
    }

    .instant-withdraw {
        font-size: 13px !important;
    }

    .plan-note {
        font-size: 11px !important;
    }

    .plans-area .plan-textarea .plan-header {
        padding: 15px;
    }

    .plans-area .plan-imgarea {
        padding: 20px;
    }
}

@media (max-width: 374px) {
    .navbar>.container {
        display: grid !important;
        grid-template-columns: 68% 16% 17% !important;
    }

    /* Plans Responsive Design */
    .plans-area .img-plan {
        width: 50px;
    }

    .plans-area .plan-textarea .plan-header .sub-title {
        font-size: 11px;
    }

    .plans-area .plan-textarea .plan-header .title {
        font-size: 40px;
    }

    .plans-area .plan-textarea .plan-body .plan-info {
        font-size: 11px;
    }

    .instant-withdraw {
        font-size: 12px !important;
    }

    .plan-note {
        font-size: 10px !important;
    }
}

@media (max-width: 359px) {
    .navbar>.container {
        display: grid !important;
        grid-template-columns: 65% 15% 20% !important;
    }

    /* Plans Responsive Design */
    .plans-area .img-plan {
        width: 45px;
    }

    .plans-area .plan-textarea .plan-header .sub-title {
        font-size: 10px;
    }

    .plans-area .plan-textarea .plan-header .title {
        font-size: 38px;
    }

    .plans-area .plan-textarea .plan-body .plan-info {
        font-size: 10px;
    }

    .instant-withdraw {
        font-size: 11px !important;
    }

    .plan-note {
        font-size: 9px !important;
    }
}